:root {
    --black: #000000;
    --yellow: #ffff9e;
    --blue: #beeeff;
    --red: #ff7373;
    --background: #3B599C;
}

body {
    background: var(--background);
    margin: 2em;
    display: flex;
    flex-direction: column;
}
#title {
    font-size: 4em;
    font-family: sans-serif;
    font-weight: bold;
    color: var(--blue);
    justify-self: center;
    align-self: center;
}
#subTitle {
    font-size: 2em;
    font-family: sans-serif;
    font-weight: bold;
    color: var(--blue);
    border-radius: 0.5em;
    border: 0.2em solid var(--red);
    padding: 1em;
}
#text {
    font-size: 1.2em;
    font-family: sans-serif;
    padding: 1em;
    color: var(--blue);
    align-self: center;
    justify-self: center;
}
#buttonContainer {
    padding: 0.5em 1em;
    align-self: center;
}
#button {
    font-size: 1.5em;
    font-family: sans-serif;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    border: 0.2em solid var(--red);
    background-color: var(--yellow);
    color: var(--black);
    cursor: pointer;
}
#grid {
    align-self: center;
}
#gridChars {
    font-family: sans-serif;
    font-size: 2em;
    padding-top: 0.5em;
    color: var(--blue);
}
#insertButtons {
    font-size: 1em;
    background-color: var(--red);
    color: var(--black);
}
#insertContainer {
    margin: 0.15em;
}
#row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#column {
    display: flex;
    flex-direction: column;
}


