@main("Vier Gewinnt - About") {
    <body>
        <div class="fs-2 text-center m-3 p-3">
            Jeder Spieler versucht vier Steine seiner Farbe in einer Reihe zu platzieren -
            vertikal, horizontal oder diagonal!
        </div>
        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active text-center" style="height: 25em">
                    <div class="fs-5 m-2">
                        Das Brett besteht aus acht Reihen und acht Spalten. Es wird mit einem leeren Brett begonnen und durch jeden
                        Zug ein Feld belegt.
                    </div>
                    <img class="align-bottom" height="200ex" src="https://images.brettspielnetz.de/spelregels/4rij/leegbord.gif" alt="Image 1">
                </div>
                <div class="carousel-item text-center" style="height: 25em">
                    <div class="fs-5 m-2">
                        Der gelbe Spieler fängt an und setzt einen Stein in der ersten Reihe, die Spalte kann er beliebig wählen
                        (von a bis h).
                        Nach dem Setzen muss der Spieler seinen Zug bestätigen.
                        Es wird immer auf
                        leeres Feld gesetzt, unter dem sich kein anderes leeres Feld befindet. Nach dem ersten Zug von
                        Gelb könnte das Brett beispielsweise so aussehen:
                    </div>
                    <img class="align-bottom" height="200ex" src="https://images.brettspielnetz.de/spelregels/4rij/eensteen.gif" alt="Image 2">
                </div>
                <div class="carousel-item text-center" style="height: 25em">
                    <div class="fs-5 m-2">
                        Am besten werden gleichzeitig zwei Bedrohungen durch jeweils drei Steine in einer Reihe aufgebaut.
                        Sobald eine Reihe mit drei Steinen aufgebaut ist, muss der Gegenspieler reagieren, und anschließend
                        wird die andere Reihe vervollständigt. Hier ist ein Beispiel:
                    </div>
                    <img class="align-bottom" height="200ex" src="https://images.brettspielnetz.de/spelregels/4rij/image008.gif" alt="Image 3">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon bg-primary" aria-hidden="false"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon bg-primary" aria-hidden="false"></span>
            </button>
        </div>
        <div class="row">
            <div class="col">
                <div class="fs-2 text-center m-3">
                    Die Strategie um zu gewinnen:
                </div>
                <div class="text-center fs-4">
                    1. Kontrolle über das Zentrum gewinnen<br>
                    2. Im Voraus planen<br>
                    3. Den Gegner blockieren<br>
                    4. Einen Nutzen aus gegnerischen Fehlern ziehen<br>
                    5. Offensiv spielen<br>
                    6. Stellen füllen überdenken
                </div>
            </div>
            <div class="col">
                <div class="fs-2 text-center m-3">
                    Die Spielregeln in einem Video erklärt:
                </div>
                <div class="text-center">
                    <iframe class="text-center" width="560" height="315" src="https://www.youtube.com/embed/BXHlc-_-aEA" >
                    </iframe>
                </div>
            </div>
        </div>
        <div class="text-center">
            <div class="fs-2 text-center m-3">
                Kontakt
            </div>
            <div class="row">
                <div class="card col m-2">
                    <div class="card-body">
                        <div>Victor Gaenshirt</div>
                        <div class="card-subtitle mb-2 text-body-secondary">Kontakt</div>
                        <a href="mailto:victor.geaenshirt@@htwg-konstanz.de?subject=[VierGewinnt]" class="btn btn-primary">
                            E-Mail</a>
                        <a href="https://github.com/victorgaenshirt" class="btn btn-secondary">GitHub</a>
                    </div>
                </div>
                <div class="card col m-2">
                    <div class="card-body">
                        <div>Selma Sahuric</div>
                        <div class="card-subtitle mb-2 text-body-secondary">Kontakt</div>
                        <a href="mailto:selma.sahuric@@htwg-konstanz.de?subject=[VierGewinnt]" class="btn btn-primary">
                            E-Mail</a>
                        <a href="https://github.com/s0cy" class="btn btn-secondary">GitHub</a>
                    </div>
                </div>
                <div class="card col m-2">
                    <div class="card-body">
                        <div>Orkan Yücetag</div>
                        <div class="card-subtitle mb-2 text-body-secondary">Kontakt</div>
                        <a href="mailto:orkan.yuecetag@@htwg-konstanz.de?subject=[VierGewinnt]" class="btn btn-primary">
                            E-Mail</a>
                        <a href="https://github.com/Orkan23" class="btn btn-secondary">GitHub</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
}
