@main("Vier Gewinnt - About") {
    <body>
        <h1 class="subTitle">
                Jeder Spieler versucht vier Steine seiner Farbe in einer Reihe zu platzieren -
                vertikal, horizontal oder diagonal!
        </h1>
        <div class="row">
            <button class="slideButton" onclick="changeSlide(-1)">Zurück</button>
            <div class="slide">
                <p class="text">
                    Das Brett besteht aus acht Reihen und acht Spalten. Es wird mit einem leeren Brett begonnen und durch jeden
                    Zug ein Feld belegt.
                </p>
                <img height="200ex" src="https://images.brettspielnetz.de/spelregels/4rij/leegbord.gif" alt="Image 1">
            </div>
            <div class="slide">
                <p class="text">
                    Der gelbe Spieler fängt an und setzt einen Stein in der ersten Reihe, die Spalte kann er beliebig wählen
                    (von a bis h). Nach dem Setzen muss der Spieler seinen Zug bestätigen. Es wird immer auf
                    leeres Feld gesetzt, unter dem sich kein anderes leeres Feld befindet. Nach dem ersten Zug von
                    Gelb könnte das Brett beispielsweise so aussehen:
                </p>
                <img height="200ex" src="https://images.brettspielnetz.de/spelregels/4rij/eensteen.gif" alt="Image 2">
            </div>
            <div class="slide">
                <p class="text">
                    Am besten werden gleichzeitig zwei Bedrohungen durch jeweils drei Steine in einer Reihe aufgebaut.
                    Sobald eine Reihe mit drei Steinen aufgebaut ist, muss der Gegenspieler reagieren, und anschließend
                    wird die andere Reihe vervollständigt. Hier ist ein Beispiel:
                </p>
                <img height="200ex" src="https://images.brettspielnetz.de/spelregels/4rij/image008.gif" alt="Image 3">
            </div>
            <button class="slideButton" onclick="changeSlide(1)">Weiter</button>
        </div>

        <script>
            let slideIndex = 1;
            showSlide(slideIndex);

            function changeSlide(n) {
                showSlide(slideIndex += n);
            }

            function showSlide(n) {
                const slides = document.getElementsByClassName("slide");
                if (n > slides.length) {
                    slideIndex = 1;
                }
                if (n < 1) {
                    slideIndex = slides.length;
                }
                for (let i = 0; i < slides.length; i++) {
                    slides[i].style.display = "none";
                }
                slides[slideIndex - 1].style.display = "block";
            }
        </script>

        <div class="row">
            <div class="blockStyle">
                <h1 class="subTitle">
                    Die Strategie um zu gewinnen:
                </h1>
                <ol type="1">
                    <li class="text">Kontrolle über das Zentrum gewinnen</li>
                    <li class="text">Im Voraus planen</li>
                    <li class="text">Den Gegner blockieren</li>
                    <li class="text">Einen Nutzen aus gegnerischen Fehlern ziehen</li>
                    <li class="text">Offensiv spielen</li>
                    <li class="text">Stellen füllen überdenken</li>
                </ol>
            </div>
            <div class="blockStyle">
                <h1 class="subTitle">
                    Die Spielregeln in einem Video erklärt:
                </h1>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/BXHlc-_-aEA" >
                </iframe>
            </div>
        </div>
        <h1 class="subTitle">
            Kontakt
        </h1>
        <dl class="row">
            <div class="contactCard">
                <dt class="text">Victor Gänshirt</dt>
                <dd class="email">
                </dd>
                <a class="hyperlink text" href="mailto:victor.geaenshirt@@htwg-konstanz.de?subject=[VierGewinnt] Frage:">Mail</a>
                <dd class="git">
                </dd>
                <a class="hyperlink text" href="https://github.com/victorgaenshirt">GitHub</a>
            </div>
            <div class="contactCard">
                <dt class="text">Selma Sahuric</dt>
                <dd class="email">
                </dd>
                    <a class="hyperlink text" href="mailto:selma.sahuric@@htwg-konstanz.de?subject=[VierGewinnt] Frage:"> Mail</a>
                <dd class="git">
                </dd>
                    <a class="hyperlink text" href="https://github.com/s0cy" target="_blank">GitHub</a>
            </div>
            <div class="contactCard">
                <dt class="text">Orkan Yücetag</dt>
                <dd class="email">
                </dd>
                <a class="hyperlink text" href="mailto:orkan.yuecetag@@htwg-konstanz.de?subject=[VierGewinnt] Frage:"> Mail</a>
                <dd class="git">
                </dd>
                <a class="hyperlink text" href="https://github.com/Orkan23 " target="_blank">GitHub</a>
            </div>
        </dl>
    </body>
    <button class="button" onclick="scrollToTop()" style="width: 150px;
        height: 40px;
        font-size: 16px;">&uarr;
    </button>
    <script>
        function scrollToTop() {
            window.scrollTo({top: 0, behavior: 'smooth'});
        }
    </script>
}
