<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vier Gewinnt</title>
</head>
<body background="abstract-258339_1920.png">
<h1 style="border: 2px solid DodgerBlue; background-color:powderblue;"><strong>Spielziel: Jeder Spieler versucht vier Steine seiner Farbe (Rot oder Gelb) in einer Reihe zu platzieren - vertikal, horizontal oder diagonal!</strong></h1>

<div style="text-align:center">
    <br><br>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/BXHlc-_-aEA" frameborder="2px solid red" allowfullscreen></iframe>
</div>

<script>
var myVideo = document.getElementById("video1");

function playPause() {
  if (myVideo.paused)
    myVideo.play();
  else
    myVideo.pause();
}

function makeBig() {
    myVideo.width = 560;
}

function makeSmall() {
    myVideo.width = 320;
}

function makeNormal() {
    myVideo.width = 420;
}
</script>
<p style="text-align: center;">Spiel zum anschauen:  <a href="https://www.youtube.com/watch?v=BXHlc-_-aEA&ab_channel=KinderSpielenGerne" target="_blank">Video Vier Gewinnt</a>.</p>



<h2><strong>Der Spielablauf:</strong></h2>
<p><em>Das Brett besteht aus acht Reihen und acht Spalten. Es wird mit einem leeren Brett begonnen und durch jeden Zug ein Feld belegt.</em></p>
<img src="https://images.brettspielnetz.de/spelregels/4rij/leegbord.gif" alt="emptyboard" width="150" height="150">
<p><em>Der gelbe Spieler fängt an und setzt einen Stein in der ersten Reihe, die Spalte kann er beliebig wählen (von a bis h). Nach dem Setzen muss der Spieler seinen Zug bestätigen. Es wird immer auf <br> leeres Feld gesetzt, unter dem sich kein anderes leeres Feld befindet. Nach dem ersten Zug von Gelb könnte das Brett beispielsweise so aussehen:</em></p>
<img src="https://images.brettspielnetz.de/spelregels/4rij/eensteen.gif" alt="stepone" width="150" height="150">
<br>
<h2>Die Taktik:</h2>
<p><em>Am besten werden gleichzeitig zwei Bedrohungen durch jeweils drei Steine in einer Reihe aufgebaut. Sobald eine Reihe mit drei Steinen aufgebaut ist, muss der Gegenspieler reagieren, und anschließend <br> wird die andere Reihe vervollständigt. Hier ist ein Beispiel:</em></p>
<img src="https://images.brettspielnetz.de/spelregels/4rij/image008.gif" alt="steptwo" width="150" height="150">
<!-- <p><em>Rot muss nun auf f2 setzen, um zu verhindern, dass Gelb gewinnt. Gelb kann so auf f3 setzen, um anschließend auf g3 oder g4 eine Viererreihe abzuschließen. Gelb kann nun auf g2 setzen - sobald Rot <br> gezwungen ist, auf g3 zu setzen, gewinnt Gelb mit g4.

    Natürlich ist es gelegentlich auch möglich von Fehlern des Gegners zu profitieren. Obwohl diese besonders bei erfahrenen Spielern selten vorkommen werden, sei hier ein Beispiel gezeigt:</em></p>
<img src="https://images.brettspielnetz.de/spelregels/4rij/image010.gif" alt="stepthree" width="150" height="150">
<p><em>Es gibt hier für beide Seiten noch keine Möglichkeit einen Sieg zu erzwingen. Nehmen wir aber einmal an, Gelb setzt auf a1. Nun kann Rot auf a2 setzten und zwingt Gelb unmittelbar auf b3 zu setzen. Anschließend ist es für Rot möglich auf b4 eine Viererreihe abzuschließen. <br> Kontrolliere also bei jedem Zug, ob dein Gegner möglicherweise einen Fehler gemacht hat.

</em></p>
-->
<br>
<h1 style="border: 2px solid DodgerBlue; background-color:powderblue; text-align: center;">Die Strategie um zu gewinnen:</h1>

<ol type="1";">
    <li>Kontrolle über das Zentrum gewinnen</li>
    <li>Im Voraus planen</li>
    <li>Den Gegner blockieren</li>
    <li>Einen Nutzen aus gegnerischen Fehlern ziehen</li>
    <li>Offensiv spielen</li>
    <li>Stellen füllen überdenken</li>
</ol>
<h1 style="border: 2px solid DodgerBlue; background-color:powderblue; text-align: center;">Die Spielregeln in einem Video erklärt:</h1>
<div style="text-align: center;">
    <a href="https://www.youtube.com/watch?v=BXHlc-_-aEA&ab_channel=KinderSpielenGerne" target="_blank" style="font-weight: bold; text-transform: uppercase;">Video Vier Gewinnt!</a>
</div>


<button class="scroll-to-top" onclick="scrollToTop()" style="width: 150px; height: 40px; font-size: 16px;">&uarr;</button>
<script>

    function scrollToTop() {
        window.scrollTo({ top: 0, behavior: 'smooth' });
    }

    window.onscroll = function() {
        var button = document.querySelector(".scroll-to-top");
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            button.style.display = "block";
        } else {
            button.style.display = "none";
        }
    }
</script>


</body>
</html>