@import de.htwg.se.VierGewinnt.model.gridComponent.GridInterface
@import de.htwg.se.VierGewinnt.model.gridComponent.gridBaseImpl.Chip
@(grid: GridInterface, state: String, player: String)

    @main("Vier Gewinnt") {


        <div class="container mt-5 text-center p-3">
            <h1 class="text-center text-info">Willkommen zu <br> Vier Gewinnt!</h1>

            @if(state.contains("won")) {
                <h2 class="text-center text-success">@player you won!!</h2>
            } else {
                <h2 class="text-center">@state @player it's your turn!</h2>
            }

            <div class="row justify-content-center mt-3">
                <div class="col-md-6 text-center">
                    <button class="btn btn-primary btn-lg" onclick="newGame(0)">Spiel starten</button>
                </div>
            </div>

            <div id="grid" class="mt-5 container-fluid text-center" style=" max-width: 500px"></div>
            <div style="display: none">
            @for(row <- 0 until grid.size) {
                <div style="display = none">
                @for(col <- 0 until grid.size) {
                    @grid.getCell(row, col).value match {
                        case Chip.RED => {
                            <span id="@row.@col" style="display: none">@Chip.RED</span>
                        }
                        case Chip.YELLOW => {
                            <span id="@row.@col" style="display: none">@Chip.YELLOW</span>
                        }
                        case _ => {
                            <span id="@row.@col" style="display: none">@Chip.EMPTY</span>
                        }
                    }
                }
                </div>
            }
            </div>

            <div id="gridsize" style="display: none">@grid.size</div>
            @if(state.contains("won")) {
                @grid.checkWin() match {
                    case Some(v) => {
                        @{
                            val chip1 = v._2
                            val chip2 = v._3
                            val chip3 = v._4
                            val chip4 = v._5
                        }
                        <script>
                        const blinkInterval = setInterval(() => {
                            const elements = [
                                "@v._2._1.@v._2._2",
                                "@v._3._1.@v._3._2",
                                "@v._4._1.@v._4._2",
                                "@v._5._1.@v._5._2"
                            ];

                            elements.forEach(elementId => {
                                const element = document.getElementById(elementId);
                                if (@v._1.equals(2)) {
                                    if (element.classList.contains("text-warning")) {
                                        element.classList.remove("text-warning");
                                        element.classList.add("text-success");
                                    } else if (element.classList.contains("text-success")) {
                                        element.classList.remove("text-success");
                                        element.classList.add("text-warning");
                                    }
                                } else if (@v._1.equals(1)) {
                                    if (element.classList.contains("text-danger")) {
                                        element.classList.remove("text-danger");
                                        element.classList.add("text-success");
                                    } else if (element.classList.contains("text-success")) {
                                        element.classList.remove("text-success");
                                        element.classList.add("text-danger");
                                    }
                                }
                            });
                        }, 500);
                        setTimeout(() => {
                            clearInterval(blinkInterval);
                        }, 5000);
                    </script>
                    }
                }
            }
            <script src="@{
                routes.Assets.versioned("javascripts/grid.js")
            }"></script>
        </div>
    }