@import de.htwg.se.VierGewinnt.model.gridComponent.GridInterface
@import de.htwg.se.VierGewinnt.model.gridComponent.gridBaseImpl.Chip
@(grid: GridInterface, state: String, player: String)

@main("Vier Gewinnt") {
    <div id="app">
        <div class="container-fluid mt-5 p-3 position-relative">

            <h1 class="text-center text-info">Willkommen zu <br> Vier Gewinnt!</h1>

            <div>{{ message }}</div>
            <state></state>

            <div class="column justify-content-center text-center  grid gap-3">
                <mybutton label="Neues Spiel " onClick="newGame(0)" styling="btn-success" icon="bi-play-circle-fill">
                </mybutton>
                <mybutton label="Speichern " onClick="save()" icon="bi-floppy-fill">
                </mybutton>
                <mybutton label="Laden " onClick="load()" icon="bi-cloud-download-fill">
                </mybutton>
                <mybutton label="Tipp! " onClick="suggestion()" icon="bi-cloud-download-fill">
                </mybutton>
            </div>
            <div class="column justify-content-center grid gap-3 text-center">
                <mybutton label="Undo " onClick="undo()" styling="btn-secondary" icon="bi-arrow-counterclockwise">
                </mybutton>
                <mybutton label="Redo " onClick="redo()" styling="btn-secondary" icon="bi-arrow-clockwise">
                </mybutton>
            </div>
            <div id="suggestion" class="text text-center"></div>
            <div id="grid" class="mt-5 container-fluid text-center" style=" max-width: 500px"></div>


        </div>
    </div>

    <script src="@{
        routes.Assets.versioned("javascripts/grid.js")
    }"></script>
    <script src="@{
        routes.Assets.versioned("javascripts/keyMapping.js")
    }"></script>
    <script src="@routes.Assets.versioned("javascripts/main.js")" type="text/javascript"></script>

}